
div.header_grid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 20px;
    padding:10px;
    padding-bottom:0px;
    justify-content: center;

}
div.grid_container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 20px;
    padding: 10px;
    padding-bottom: 0px;
    justify-content: center;
    transition-duration: 0.5s;

}
*.head_section{
    text-align: center;
    position: absolute;
    width:90%;
    grid-column-end: span 3;
}
ul{
    padding-left: 0px;
    overflow: scroll;
    overflow-x:hidden;
}
div .main{
    text-align: center;
    position: absolute;
    width:90%;
    grid-column-end: span 3;
    height: 80%;
    overflow: scroll;
}
*.sub_grid{
    display: inline;
    grid-template-columns: auto 20%;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
    width:100%;
    max-width: 600px;
    justify-content: center;
}
*.title{
    grid-column-end: span 3;
}
*.add{
    display:flex;
    grid-column-end: span 3;
    justify-content: center;
}
*.add > input {
    width:80%;
    height:40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:0px;
    border-radius: 3px 0px 0px 3px;
    padding-left:10px;
}
*.add > span {
    height: 30px;
    background-color: rgb(144, 137, 150);
    width: 50px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    justify-content:center;
    border-radius: 0px 3px 3px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

*.addBtn:hover{
    background-color: rgb(84, 221, 102);
    cursor:pointer;
}
*.item_grid{
    display: flex;
    grid-template-columns: auto 80px;
    text-align: center;
    overflow-x:hidden;
    justify-content: center;
    height: 50px;
    padding-bottom: 10px;

}

.item_name{
    background-color: rgb(238, 229, 229);
    align-items: center;
    width: 79%;
    display: inline-flex;
    justify-content:left;
    padding-left: 30px;
    border-radius: 3px 0px 0px 3px;
    padding-bottom: 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow-x:hidden;

}
.item_name.Finished{
    background-color: rgba(0, 255, 64, 0.5);
    align-items: center;
    display: inline-flex;
    justify-content:left;
    padding-left: 30px;
    overflow-x:hidden;
}

.item_button{
    background-color: rgb(144, 137, 150);
    align-items: center;
    display: inline-flex;
    justify-content:center;
    padding-right: 0px;
    overflow-x:hidden;
    width:50px;
    border-radius: 0px 3px 3px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.item_button:hover{
    background-color: rgb(221, 84, 84);
}
.Finished{
    text-decoration: line-through;
    color:rgb(131, 127, 127);
    transform: translate(10px,0px);
    transition: 0.2s;
}
.ToDo{
    transition: 0.2s;
}
.noty_bar{
    min-height: 40px;
    width: 100%;
    text-align: center;
    top:0px;
    left:0px;
    transition:0.2f;
    position:absolute;
    opacity: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.noty_bar.success{
    background-color: rgb(84, 221, 102);
    transition: 0.2f;
}
.noty_bar.fail{
    background-color: rgb(221, 84, 84);
    transition: 0.2f;
}
.noty_bar>p{
    display:inline-flex;
}
.fade{
    opacity: 0;
    transition: 0.2f;
}
.break{
    padding-top: 80px;
}
.line{
    width:95%;
    height:3px;
    background-color: #74a991;
    position:absolute;
    opacity: 0;
}
.deleted{
    transition-duration: 0.5s;
    padding-left: 600px;
    opacity: 0px;
}